body{
    background-color: white;
    .lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

header{
    display: flex;
    grid-template-columns: 35% 36%;

}

.logo{
    width: 65%;
    border-radius: 48%;
    height: 70%;

}



