body{
    background-color: white;
    .lora-<uniquifier> {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

header{
    display: flex;
    grid-template-columns: 35% 36%;

}

.logo{
    width: 65%;
    border-radius: 48%;
    height: 70%;

}

.funcionalidade{
    display: grid;
    grid-template-columns: 50% 50%;
        justify-items: center;
    align-items: center;
}

.Beneficios{
    display: grid;
    grid-template-columns: 50% 50%;
    background-image: url(Design\ sem\ nome.jpg);
    background-repeat: no-repeat;
    background-size: 98%;
    height: 35vw;
    width: 97;
    justify-items: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
}



