body{
    background-color: rgba(241, 246, 237, 0.937);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

header{
    display: flex;
    grid-template-columns: 35% 36%;

}

.logo{
    width: 65%;
    border-radius: 48%;
    height: 70%;

}

.funcionalidade{
    display: grid;
    grid-template-columns: 50% 50%;
        justify-items: center;
    align-items: center;
}

.Beneficios{
    display: grid;
    grid-template-columns: 25% 25%;
    background-image: url(Design\ sem\ nome.jpg);
    background-repeat: no-repeat;
    background-size: 98%;
    height: 35vw;
    width: 97;
    justify-items: center;
    align-items: center;
    margin: 0;
    text-transform: uppercase;
}

.EXEMPLO-DET-ABELA-MONITORAMENTO-AGRICOLA{
    display: grid;
    grid-template-columns: 25% 25%;
          justify-content: center;
    text-transform: uppercase;
}

.Sobre-o-problema{
    display: grid;
    grid-template-columns: 50% 50%;
          justify-content: center;
    text-transform: uppercase;
}

.nossa-solução{
    display: grid;
    grid-template-columns: 50% 50%;
          justify-content: center;
    text-transform: uppercase;
}

.fundo-branco{
    background-color: white;
    margin: 20px;
    padding: 12px;
    border-radius: 12px;
    font-weight: normal;
    width: 351px;
    height: 279px;
    text-align: center;
}

footer{
    text-transform: uppercase;

}

.alto{
    text-transform: lowercase;
}

.imagem{
    width: 80;
}



