.importante{
     color: rgb(215, 200, 215);
}

.imagens{
   width: 60;
} 

body{
    background-color: rgb(210, 23, 204);
    color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links{
   display: flex;
   flex-direction: column;
}

a{
    margin: 20px;
    padding: 20px;
    background-color: rgb(41, 214, 212);
    color: beige;
    border-radius: 20px;
}